spring:
  application:
    name: auth

  datasource:
    url: jdbc:postgresql://localhost:5432/coderank
    username: postgres
    password: jithu
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true